.heading1 {
  margin: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.lead {
  margin: 0;
  align-self: stretch;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #a6a6a6;
}
